.advertising {
    display: none;
}
nav {
    position: fixed !important;
    z-index: 1;
}
.main {
    padding-top: 60px;
}
.border-1 {
    border-width: 1px;
}
.border-2 {
    border-width: 2px;
}
.border-3 {
    border-width: 3px;
}
.border-4 {
    border-width: 4px;
}
.border-5 {
    border-width: 5px;
}
.divider-y {
    width: 2px;
    height: 80px;
}
.divider-x {
    width: 80px;
    height: 2px;
}
.bg-black-50 {
    background: rgba(0, 0, 0, 0.5);
}
/* header */
.ionicon {
    width: 18px;
    height: 18px;
}
.tab-content {
    position: absolute;
    background: rgb(150, 150, 150);
    top: 100%;
    left: 0;
    width: 100%;
    overflow: auto;
}
.dropdown-item {
    color: #eee;
    border-radius: 0 !important;
}
.nav-link {
    padding: .5rem .5rem;
}
.nav-tabs .nav-link {
    color: #666;
}
.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    border: unset;
}
.nav-tabs .nav-link.active:before, 
.nav-tabs .nav-item.show .nav-link:before {
    content: '';
    position: absolute;
    bottom: -30%;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgb(150, 150, 150) transparent;
}
.dropdown-item.active, 
.dropdown-item:active {
    background-color: #666;
}
.closebtn {
    display: block;
    position: absolute;
    top: -25px;
    left: calc(50% - 33px);
    text-align: center;
    width: 66px;
    height: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    line-height: 20px;
}
.bottomleft {
    width: 150px;
    height: 50px;
}
.shadow{
    -webkit-filter: drop-shadow(2px 2px 3px #fceef5);
    filter: drop-shadow(2px 2px 3px #fceef5);
}
.footerLP {
    display: none;
    padding-top: 0;
}
.footerLP.show {
    display: flex;
}

/* 配色一 */
.color-1 .bg-first {
    background-color: #e3fdfd;
}
.color-1 .bg-second {
    background-color: #cadefc;
}
.color-1 .bg-third {
    background-color: #c3bef0;
}
.color-1 .bg-fourth {
    background-color: #cca8e9;
}

/* 配色二 */
.color-2 .bg-first {
    background-color: #f4f4f4;
}
.color-2 .bg-second {
    background: rgb(255,218,218);
}
.color-2 .bg-third {
    background-color: #3a3535;
}
.color-2 .bg-fourth {
    background-color: #fceef5;
}
.border-top {
    border-color: #666 !important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: darkgrey;
    font-size: 0.8rem;
}

/* Only For computer */
@media (pointer: fine),
(pointer: fine) and (-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .hover:hover {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
    }
}

@media (max-width: 991px) {
    .form-inline input { width: calc(100% - 60px) !important;}
    .form-inline button { width: 40px;}
    .nav-tabs .nav-link.active:before, 
    .nav-tabs .nav-item.show .nav-link:before {
        bottom: calc(-30% + 10px);
    }
    .border-lg-top {
        border-top:1px solid #666;
    }
    .card-footer {
        flex-direction: column;
    }
}
@media (min-width: 992px) {
    .tab-content > .active {
        display: flex;
    }
}

/*Actress Page*/
.transparent {
    background-color: transparent;
}
.headshot {
    width:200px;
    height: 200px;
    background: url(https://picsum.photos/id/685/600/400) no-repeat center/cover;
    border-radius: 50%;
}
.line {
    padding: 0 3rem;
}
.timeline {
    border-left: 3px solid #3a3535;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin: 0 auto;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    max-width: 100%;
}
.timeline h1 {
    font-weight: 300;
    font-size: 1.4em;
}
.timeline h2,
.timeline h3 {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 10px;
}
.timeline .event {
    border-bottom: 1px dashed #e8ebf1;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
}
.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}
.timeline .event:after {
    -webkit-box-shadow: 0 0 0 3px #3a3535;
    box-shadow: 0 0 0 3px #3a3535;
    left: -55.8px;
    background: #fff;
    border-radius: 50%;
    height: 9px;
    width: 9px;
    content: "";
    top: 5px;
}
.rtl .timeline {
    border-left: 0;
    text-align: right;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-right: 3px solid #3a3535;
}
.rtl .timeline .event::after {
    left: 0;
    right: -55.8px;
}
@media (max-width: 767px) {
    .line {
        padding: 0 1.5rem;
    }
    .timeline {
        max-width: 98%;
        padding: 25px;
    }
    .timeline .event {
        padding-top: 30px;
        border-bottom: 0px dashed #e8ebf1;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .timeline .event:after {
        left: -31.8px;
    }
}

.img-box {
    width: 100%;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
}
img.card-img-top {
    position: absolute;
}


/* quick_watch */
.bg-black {background-color: rgba(0, 0, 0, 1);}
.qw-img-box {position: relative;}
.qw-img-box:before,
.qw-img-box:after {
    content: '';
    position: absolute;
    top: calc(50% - 20px);
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 1;
}
.qw-img-box:before {
    left: -40px;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}
.qw-img-box:after {
    right: -40px;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
.tv-name .card {
    background-color: transparent;
    border: 0;
}
.tv-name button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(255,255,255,.25);
    color: #fff;
}
.btn-link:hover {
    color: #eee; 
    text-decoration: none;
}
.qw-word {
    position: absolute;
    left: 0;
    z-index: 1;
}
.qw-img-boder {
    position: relative;
    top: 0;
    right: 0;
}
.qw-img {
    position: relative;
    width: 100%;
    padding-bottom: 67%;
    background:linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%), url(../images/demo_img.jpg)no-repeat center/cover;
}
.play-box { 
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
}
.ph-only {display: none;}
.play-btn {
    display: flex;
    fill: #fff;
    width: 120px;
    height: 120px;
}
.qw-img-boder:hover .play-box {display: flex;}
.movie-box {white-space:nowrap;}
.movie {
    position: relative;
    display: inline-block;
    width: 18%;
    border-radius: 5%;
    overflow: hidden;
}
.movie-img {
    width: 100%;
    padding-bottom: 67%;
    background: url(../images/demo_img.jpg)no-repeat center/cover;
}
.play_icon {
    position: absolute;
	display: flex;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
	width: 80px;
	height: 80px;
    fill: rgb(206, 82, 153);
}
svg {
	width: 100%;
	height: 100%;
}



@media (max-width: 767px) {
    .qw-img {
        position: relative;
        width: 100%;
        padding-bottom: 67%;
        background:linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%), url(../images/demo_img.jpg)no-repeat center/cover;
    }
    .qw-word {
        position: relative;
        order: 1;
    }
    .tv-name {display: none;}
    .msg-box {display: flex;}
    .qw-img-box:before, 
    .qw-img-box:after {
        width: 30px;
        height: 30px;
        top: calc(25% - 15px);
    }
    .qw-img-box:before {left: -15px;} 
    .qw-img-box:after {right: -15px;}
    .play-box,
    .ph-only {
        position: relative;
        display: inline-flex;
    }
    .ph-tv-name {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: normal;
        overflow: hidden;
    }
    .showmore {-webkit-line-clamp: unset;}
    .more-btn {color:rgb(206, 82, 153);}
    .play-box {
        width: 100%;
        background-color: rgb(255,218,218);
        font-weight: bolder;
        margin-bottom: 2rem;
    }
    .play-btn {
        width: 30px;
        height: 30px;
        fill: #333;
    }
    .movie {width: 40%;}
    .qw-page .h3 {font-size: 1rem;}
    .qw-page .h5 {font-size: .8rem;}
}

.title {
    width: 100%;
    height: 117px;
    background-color:#666;
}
.footer {
    width: 100%;
    height: 97px;
    background-color: #666;
}