.advertising {
    display: none;
}
nav {
    position: fixed !important;
    z-index: 1;
}
.main {
    padding-top: 60px;
}
.border-1 {
    border-width: 1px;
}
.border-2 {
    border-width: 2px;
}
.border-3 {
    border-width: 3px;
}
.border-4 {
    border-width: 4px;
}
.border-5 {
    border-width: 5px;
}
.divider-y {
    width: 2px;
    height: 80px;
}
.divider-x {
    width: 80px;
    height: 2px;
}
.bg-black-50 {
    background: rgba(0, 0, 0, 0.5);
}
/* header */
.ionicon {
    width: 18px;
    height: 18px;
}
.tab-content {
    position: absolute;
    background: rgb(234,234,234);
    /* background: -moz-linear-gradient(0deg, rgba(234,234,234,1) 0%, rgba(204,204,204,1) 60%, rgba(220,200,200,1) 80%, rgba(255,225,225,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(234,234,234,1) 0%, rgba(204,204,204,1) 60%, rgba(220,200,200,1) 80%, rgba(255,225,225,1) 100%);
    background: linear-gradient(0deg, rgba(234,234,234,1) 0%, rgba(204,204,204,1) 60%, rgba(220,200,200,1) 80%, rgba(255,225,225,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eaeaea",endColorstr="#ffe1e1",GradientType=1); */
    top: 100%;
    left: 0;
    width: 100%;
    overflow: auto;
}
.nav-link {
    padding: .5rem .5rem;
}
.nav-tabs .nav-link {
    color: #666;
}
.nav-tabs .nav-link.active, 
.nav-tabs .nav-item.show .nav-link {
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
    border: unset;
}
.nav-tabs .nav-link.active:before, 
.nav-tabs .nav-item.show .nav-link:before {
    content: '';
    position: absolute;
    bottom: -30%;
    left: calc(50% - 10px);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent rgb(234,234,234) transparent;
}
.dropdown-item.active, 
.dropdown-item:active {
    background-color: #666;
}
/* .collapse:not(.show){ display: block; }
.collapse:not(.show) > ul{ display:none; }
.collapse.show > form{ display:none; } */

/* 配色一 */
.color-1 .bg-first {
    background-color: #e3fdfd;
}
.color-1 .bg-second {
    background-color: #cadefc;
}
.color-1 .bg-third {
    background-color: #c3bef0;
}
.color-1 .bg-fourth {
    background-color: #cca8e9;
}

/* 配色二 */
.color-2 .bg-first {
    background-color: #f4f4f4;
}
.color-2 .bg-second {
    background: rgb(255,218,218);
    /* background: -moz-linear-gradient(0deg, rgba(250,109,109,1) 0%, rgba(255,218,218,1) 70%, rgba(255,218,218,1) 75%, rgba(255,146,146,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(250,109,109,1) 0%, rgba(255,218,218,1) 70%, rgba(255,218,218,1) 75%, rgba(255,146,146,1) 100%);
    background: linear-gradient(0deg, rgba(250,109,109,1) 0%, rgba(255,218,218,1) 70%, rgba(255,218,218,1) 75%, rgba(255,146,146,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fa6d6d",endColorstr="#ff9292",GradientType=1); */
}
.color-2 .bg-third {
    background-color: #3a3535;
}
.color-2 .bg-fourth {
    background-color: #fceef5;
}
.border-top {
    border-color: #666 !important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: darkgrey;
    font-size: 0.8rem;
}

/* Only For computer */
@media (pointer: fine),
(pointer: fine) and (-moz-touch-enabled: 0),
screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .hover:hover {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.5) !important;
    }
}

@media (max-width: 991px) {
    .form-inline input { width: calc(100% - 60px) !important;}
    .form-inline button { width: 40px;}
    .nav-tabs .nav-link.active:before, 
    .nav-tabs .nav-item.show .nav-link:before {
        bottom: calc(-30% + 10px);
    }
    .border-lg-top {
        border-top:1px solid #666;
    }
}
@media (min-width: 992px) {
    .tab-content > .active {
        display: flex;
    }
}
/*LP*/
.lp-logo {
    top: 20px;
    right: 20px;
}
.bg-warp {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: url(../images/LP-1_1920x1080.jpg) no-repeat top/cover;
    z-index: -1;
}
.bg-LP {
    height: 100vh;
}
.btn-lp {
    background: rgba(255, 255, 255, 1);
    color: #000 !important;
    opacity: .5;
}
.btn-lp:hover {
    opacity: .8;
}
.bg-lp-1 {
    background-color: rgba(247, 176, 194, .8);
}
.bg-lp-2 {
    background-color: rgba(255, 89, 131, .8);
}

@media (min-width: 992px) {
    body {
        position: relative;
    }
    .rounded-1 { border-radius: 1rem 0 0 0;}
    .rounded-2 { border-radius: 0 1rem 0 0;}
}